data/
results/
tmp/
*.vcf
*.vcf.gz
*.tbi
*.bam
*.cram
*.crai
*.bai
*.fa
*.fai
*.gfa
*.bed
*.bim
*.fam
*.pgen
*.pvar
*.psam
*.log
*.out
*.err
.ipynb_checkpoints/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.zip
